:root {
    --pixelCount: 2;
    /* these will get modified by RoA Custom Colors.js */
    --portraitWidth: 0px;
    --spriteWidth: 0px;
    --extraWidth: 0px;
    --spriteTime: 0s;
    --spriteCount: 0;
}

@font-face {
    font-family: "RoA-Med";
    src: url('Resources/Fonts/roa_med_round_jp2.ttf');
}
@font-face {
    font-family: "RoA-Bold";
    src: url('Resources/Fonts/roa-m-bold-loc6.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
    image-rendering: pixelated; /* Chromium */
    image-rendering: crisp-edges; /* Firefox */
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
html {
    background: center/calc(256px * var(--pixelCount)) url(Resources/BG.png);
    font-family: 'RoA-Bold';
    text-transform: uppercase;
    font-size: calc(24px * var(--pixelCount));
    color: white;
    /* oh and you thought this was going to be simple */
    text-shadow: calc(2px * var(--pixelCount)) 0px black,
        0px calc(2px * var(--pixelCount)) black,
        calc(-2px * var(--pixelCount)) 0px black,
        0px calc(-2px * var(--pixelCount)) black,
        calc(2px * var(--pixelCount)) calc(2px * var(--pixelCount)) black,
        calc(-2px * var(--pixelCount)) calc(-2px * var(--pixelCount)) black,
        calc(2px * var(--pixelCount)) calc(-2px * var(--pixelCount)) black,
        calc(-2px * var(--pixelCount)) calc(2px * var(--pixelCount)) black,
        calc(2px * var(--pixelCount)) calc(1px * var(--pixelCount)) black,
        calc(2px * var(--pixelCount)) calc(-1px * var(--pixelCount)) black,
        calc(1px * var(--pixelCount)) calc(2px * var(--pixelCount)) black,
        calc(-1px * var(--pixelCount)) calc(2px * var(--pixelCount)) black,
        calc(-2px * var(--pixelCount)) calc(1px * var(--pixelCount)) black,
        calc(-2px * var(--pixelCount)) calc(-1px * var(--pixelCount)) black,
        calc(1px * var(--pixelCount)) calc(-2px * var(--pixelCount)) black,
        calc(-1px * var(--pixelCount)) calc(-2px * var(--pixelCount)) black;
    letter-spacing: 1px;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #4a3a80 #170f39; /* Firefox */
}
/* all of this is chromium only */
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-track {
    background: #170f39;
  }
body::-webkit-scrollbar-thumb {
    background-color: #4a3a80;
}
body {
    overflow-x: hidden;
}
button, input {
    outline: none;
    overflow: visible;
    border: none;
    font: inherit;
    padding: 0;
}
button {
    background-color: none;
    background: none;
    color: white;
    text-transform: inherit;
    text-shadow: inherit;
}
button, [type="button"] {
    -webkit-appearance: button;
}
button:hover {
    cursor: pointer;
}


#topRegion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-image: url('/Resources/TopBG.png') 2 fill / calc(2px * var(--pixelCount)) repeat stretch;
    padding: 0px calc(20px * var(--pixelCount));
    height: calc(56px * var(--pixelCount));
    background-color: #170f39;
}

#roaLink {
    height: calc(42px * var(--pixelCount));
}
#roaLinkImg {
    height: calc(42px * var(--pixelCount));
    filter: invert(1);
    image-rendering: auto;
}
#roaLinkImg:hover {
    filter: invert(0);
}

.topBut {
    width: calc(160px * var(--pixelCount));
    height: calc(32px * var(--pixelCount));
    border-image-slice: 4 6 fill;
    border-image-width: calc(4px * var(--pixelCount)) calc(6px * var(--pixelCount));
    line-height: 1.4;
    margin-left: calc(32px * var(--pixelCount));
}
.topBut:disabled {
    filter: saturate(0);
    pointer-events: none;
}
.topButIcon {
    display: none;
    width: calc(28px * var(--pixelCount));
    height: calc(24px * var(--pixelCount));
    transform: translateY(calc(4px * var(--pixelCount)));
}

#defaultBut {
    border-image-source: url('/Resources/Buttons/Red.png');
}
#defaultBut:hover, #defaultBut:focus-visible {
    border-image-source: url('/Resources/Buttons/RedHover.png');
}
#defaultBut:active {
    border-image-source: url('/Resources/Buttons/RedPress.png');
}
#colorCodeBut {
    border-image-source: url('/Resources/Buttons/Yellow.png');
}
#colorCodeBut:hover, #colorCodeBut:focus-visible {
    border-image-source: url('/Resources/Buttons/YellowHover.png');
}
#colorCodeBut:active {
    border-image-source: url('/Resources/Buttons/YellowPress.png');
}
#downloadBut {
    border-image-source: url('/Resources/Buttons/Blue.png');
    float: right;
    text-align: center;
    color: inherit;
    text-decoration: inherit;
    outline: none;
}
#downloadBut:hover, #downloadBut:focus-visible {
    border-image-source: url('/Resources/Buttons/BlueHover.png');
    cursor: pointer;
}
#downloadBut:active {
    border-image-source: url('/Resources/Buttons/BluePress.png');
}


#midRegion {
    display: flex;
    justify-content: space-between;
}

#midLeft {
    display: flex;
    margin-top: calc(30px * var(--pixelCount));
    width: 50%;
    height: calc(340px * var(--pixelCount));
    justify-content: flex-end;
    flex-shrink: 0;
}

#charBackground {
    position: absolute;
    border-image: url('/Resources/CharBar.png') 2 66 10 2 fill
        / calc(2px * var(--pixelCount)) calc(66px * var(--pixelCount)) calc(10px * var(--pixelCount));
    width: 53%;
    height: calc(140px * var(--pixelCount));
    top: calc(210px * var(--pixelCount));
    z-index: -1;
}

#pContainer {
    pointer-events: none;
    display: flex;
    align-items: center;
}
#portCanvas {
    min-width: calc(var(--portraitWidth) * var(--pixelCount));
}

#eContainer {
    position: absolute;
    width: calc(150px * var(--pixelCount));
    height: calc(150px * var(--pixelCount));
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(calc(60px * var(--pixelCount)), calc(-20px * var(--pixelCount)));
}
#extraCanvas {
    min-width: calc(var(--extraWidth) * var(--pixelCount));
}

#spriteDiv {
    margin-top: calc(100px * var(--pixelCount));
    width: calc(150px * var(--pixelCount));
    height: calc(150px * var(--pixelCount));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: calc(20px  * var(--pixelCount));
}
#animDiv {
    overflow: hidden;
    width: calc(var(--spriteWidth) / var(--spriteCount) * var(--pixelCount)); /* gets the w of 1 frame */
}
#animCanvas {
    animation: moveSprite var(--spriteTime) steps(var(--spriteCount)) infinite;
    min-width: calc(var(--spriteWidth) * var(--pixelCount));
}
@keyframes moveSprite {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-1 * var(--spriteWidth) * var(--pixelCount)));
    }
}


#midRight {
    display: flex;
    flex-direction: column;
    margin-top: calc(18px * var(--pixelCount));
    width: 50%;
}

#charNameDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-image: url('/Resources/CharName\ BG.png') 4 34 fill / calc(4px * var(--pixelCount)) calc(34px * var(--pixelCount));
    width: 100%;
    min-width: calc(350px * var(--pixelCount));
    max-width: calc(484px * var(--pixelCount));
    height: calc(64px * var(--pixelCount));
    transform: translateX(calc(-20px * var(--pixelCount)));
}
#backBut, #forwardBut {
    background-image: url('/Resources/Buttons/Next.png');
    background-repeat: no-repeat;
    background-size: calc(49px * var(--pixelCount)) calc(34px * var(--pixelCount));
    width: calc(49px * var(--pixelCount));
    height: calc(34px * var(--pixelCount));
}
#backBut:hover, #forwardBut:hover, #backBut:focus-visible, #forwardBut:focus-visible {
    background-image: url('/Resources/Buttons/Next\ Pressed.png');
}
#forwardBut {
    transform: scaleX(-1);
}
#charName {
    font-family: 'RoA-Med';
    font-size: calc(32px * var(--pixelCount));
    text-shadow: calc(4px * var(--pixelCount)) 0px #170f39,
        0px calc(4px * var(--pixelCount)) #170f39,
        calc(-4px * var(--pixelCount)) 0px #170f39,
        0px calc(-4px * var(--pixelCount)) #170f39,
        calc(4px * var(--pixelCount)) calc(4px * var(--pixelCount)) #170f39,
        calc(-4px * var(--pixelCount)) calc(-4px * var(--pixelCount)) #170f39,
        calc(4px * var(--pixelCount)) calc(-4px * var(--pixelCount)) #170f39,
        calc(-4px * var(--pixelCount)) calc(4px * var(--pixelCount)) #170f39,
        calc(4px * var(--pixelCount)) calc(2px * var(--pixelCount)) #170f39,
        calc(4px * var(--pixelCount)) calc(-2px * var(--pixelCount)) #170f39,
        calc(2px * var(--pixelCount)) calc(4px * var(--pixelCount)) #170f39,
        calc(-2px * var(--pixelCount)) calc(4px * var(--pixelCount)) #170f39,
        calc(-4px * var(--pixelCount)) calc(2px * var(--pixelCount)) #170f39,
        calc(-4px * var(--pixelCount)) calc(-2px * var(--pixelCount)) #170f39,
        calc(2px * var(--pixelCount)) calc(-4px * var(--pixelCount)) #170f39,
        calc(-2px * var(--pixelCount)) calc(-4px * var(--pixelCount)) #170f39;
}

#partList {
    padding: calc(14px * var(--pixelCount)) 0px calc(14px * var(--pixelCount)) calc(60px * var(--pixelCount));
    max-width: calc(430px * var(--pixelCount));
    min-width: calc(374px * var(--pixelCount));
    margin-bottom: calc(90px * var(--pixelCount)); /* this is just so it allows for scroll for bot bar */
    margin-right: calc(10px * var(--pixelCount));
}
.part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(32px * var(--pixelCount));
    margin-bottom: calc(2px * var(--pixelCount));
    padding: calc(6px * var(--pixelCount)) calc(6px * var(--pixelCount)) calc(6px * var(--pixelCount)) calc(12px * var(--pixelCount));
    border-image-slice: 4 186 4 6 fill;
    border-image-width: calc(4px * var(--pixelCount)) calc(186px * var(--pixelCount)) calc(4px * var(--pixelCount)) calc(6px * var(--pixelCount));
    border-image-source: url('Resources/Parts/PartBG.png');
}
.part:hover, .part:focus-visible {
    border-image-source: url('Resources/Parts/PartBG\ Hover.png');
}
.part:active {
    border-image-source: url('Resources/Parts/PartBG\ Press.png');
}
.part:disabled {
    cursor: auto;
    border-image-source: url('Resources/Parts/PartBG\ Disabled.png');
}
.partName {
    height: calc(18px * var(--pixelCount));
}
.colorRect {
    width: calc(183px * var(--pixelCount));
    height: calc(20px * var(--pixelCount));
    z-index: -1;
    display: flex;
    align-items: center;
}
.colorValues {
    font-family: 'RoA-Med';
    font-size: calc(12px * var(--pixelCount));
    text-align: right;
    width: 100%;
    margin-right: calc(4px * var(--pixelCount));
}


#botRegion {
    text-shadow: none;
    font-size: calc(16px * var(--pixelCount));
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-image: url('/Resources/BotBar\ BG.png') 4 2 2 50 fill
        / calc(4px * var(--pixelCount)) 0 0 calc(50px * var(--pixelCount));
    height: calc(96px * var(--pixelCount));
    width: 75%;
    padding: calc(10px * var(--pixelCount)) calc(24px * var(--pixelCount)) calc(6px * var(--pixelCount)) calc(36px * var(--pixelCount));
}

#sliderRegion {
    display: flex;
    flex-direction: column;
    padding-left: calc(58px * var(--pixelCount));
}
.sliderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(4px * var(--pixelCount));
}
.sliderTextL {
    width: calc(43px * var(--pixelCount));
    height: calc(12px * var(--pixelCount));
    flex-shrink: 0;
}
.sliderTextR {
    width: calc(24px * var(--pixelCount));
    height: calc(12px * var(--pixelCount));
    text-align: right;
    flex-shrink: 0;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: calc(14px * var(--pixelCount));
    outline: none;
    cursor: pointer;
    border: calc(2px * var(--pixelCount)) solid white;
    margin: 0px calc(4px * var(--pixelCount));
}
.slider::-webkit-slider-thumb {
    box-sizing: content-box;
    appearance: none;
    width: calc(2px * var(--pixelCount));
    height: calc(10px * var(--pixelCount));
    border: calc(2px * var(--pixelCount)) solid white;
    outline: calc(2px * var(--pixelCount)) solid black;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: calc(2px * var(--pixelCount));
    height: calc(10px * var(--pixelCount));
    border: calc(2px * var(--pixelCount)) solid white;
    outline: calc(2px * var(--pixelCount)) solid black;
    border-radius: 0;
    background: none;
    cursor: pointer;
}
.slider:focus-visible {
    outline: calc(2px * var(--pixelCount)) solid red;
}
#sliderHue {
    background: linear-gradient(to right, red, #ff0, lime, cyan, blue, #f0f, red);
}

.sliderRGB {
    display: none;
}
#sliderR {
    background: linear-gradient(to right, black, red);
}
#sliderG {
    background: linear-gradient(to right, black, green);
}
#sliderB {
    background: linear-gradient(to right, black, blue);
}


#finalColorRegion {
    display: flex;
    align-items: center;
    margin-top: calc(3px * var(--pixelCount));
}

#cmSwitcher {
    padding-right: calc(19px * var(--pixelCount));
    height: calc(22px * var(--pixelCount));
}
#cmSwitcher:hover, #cmSwitcher:focus-visible {
    filter: brightness(2);
}

#imgHSV {
    cursor: pointer;
    width: calc(86px * var(--pixelCount));
    height: calc(22px * var(--pixelCount));
}

#squaresRegion {
    display: flex;
    align-items: center;
    width: 100%;
}

.squareRGB{
    width: calc(36px * var(--pixelCount));
    height: calc(16px * var(--pixelCount));
    box-shadow: calc(2px * var(--pixelCount)) 0px white,
        0px calc(2px * var(--pixelCount)) white,
        calc(-2px * var(--pixelCount)) 0px white,
        0px calc(-2px * var(--pixelCount)) white;
    margin: 0px calc(2px * var(--pixelCount));
    flex-shrink: 0;
}
.plusSign {
    margin: 0px calc(4px * var(--pixelCount));
    width: calc(12px * var(--pixelCount));
    height: calc(12px * var(--pixelCount));
}
#equalsSign {
    margin: 0px calc(10px * var(--pixelCount));
    width: calc(16px * var(--pixelCount));
    height: calc(12px * var(--pixelCount));
}
#squareRGB {
    width: 100%;
    height: calc(16px * var(--pixelCount));
    box-shadow: calc(2px * var(--pixelCount)) 0px white,
        0px calc(2px * var(--pixelCount)) white,
        calc(-2px * var(--pixelCount)) 0px white,
        0px calc(-2px * var(--pixelCount)) white;
    margin: 0px calc(2px * var(--pixelCount));
}

#emptyRight {
    width: calc(28px * var(--pixelCount));
    flex-shrink: 0;
}


#infoRegion {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#noWebGL, #loadMessage, #helpMessage {
    justify-content: center;
    text-align: center;
}
#loadError {
    display: none;
}
.lilInfoText {
    font-size: calc(16px * var(--pixelCount));
}

.simpleMessage {
    display: none;
    padding: calc(18px * var(--pixelCount));
    background-color: #271d52;
    box-shadow: 0 0 0 calc(2px * var(--pixelCount)) #493980,
        0 0 0 calc(4px * var(--pixelCount)) #271d52,
        0 0 0 calc(6px * var(--pixelCount)) black;
    animation: fadeSlideDown .07s ease-out;
    max-width: 600px;
    outline: none;
}
#defaultButsRegion {
    display: flex;
    justify-content: space-around;
    margin-top: calc(12px * var(--pixelCount));
}
.genericBut {
    width: calc(72px * var(--pixelCount));
    height: calc(32px * var(--pixelCount));
    border-image-source: url('/Resources/Buttons/Generic.png');
    border-image-slice: 6 fill;
    border-image-width: calc(6px * var(--pixelCount));
    line-height: 1.4;
    animation: genericButFade .35s both;
}
.genericBut:hover, .genericBut:focus-visible {
    border-image-source: url('/Resources/Buttons/GenericHover.png');
}
#cancelDefaultBut {
    color: #fe555d;
}
#confirmDefaultBut, #confirmDiscardBut {
    color: #55fe71;
}
#okHelp {
    margin-top: calc(16px * var(--pixelCount));
}


#colorCodeRegion {
    font-family: "RoA-Med";
    width: calc(310px * var(--pixelCount));
    display: none;
    animation: fadeSlideDown .07s ease-out;
}

#cCodeTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-image: url('/Resources/CCode\ Top.png') 4 4 2 4 fill
        / calc(4px * var(--pixelCount)) calc(4px * var(--pixelCount)) calc(2px * var(--pixelCount)) calc(4px * var(--pixelCount));
    padding: calc(4px * var(--pixelCount)) calc(10px * var(--pixelCount));
}
#cCodeTitle {
    font-size: calc(16px * var(--pixelCount));
    color: #fce800;
}
#cCodeError {
    font-size: calc(12px * var(--pixelCount));
    color: #fe555d;
}

#cCodeBot {
    border-image: url('/Resources/CCode\ Bot.png') 2 6 6 6 fill
        / calc(2px * var(--pixelCount)) calc(6px * var(--pixelCount)) calc(6px * var(--pixelCount)) calc(6px * var(--pixelCount));
    padding: calc(8px * var(--pixelCount)) calc(10px * var(--pixelCount));
}
#colorCode {
    width: 100%;
    word-break: break-all;
    overflow: hidden;
    background: none;
    border: none;
    font-family: "RoA-Med";
    font-size: calc(16px * var(--pixelCount));
    color: white;
    outline: none;
    resize: none;
    text-shadow:  calc(2px * var(--pixelCount)) 0px black,
        0px calc(2px * var(--pixelCount)) black,
        calc(-2px * var(--pixelCount)) 0px black,
        0px calc(-2px * var(--pixelCount)) black,
        calc(2px * var(--pixelCount)) calc(2px * var(--pixelCount)) black,
        calc(-2px * var(--pixelCount)) calc(-2px * var(--pixelCount)) black,
        calc(2px * var(--pixelCount)) calc(-2px * var(--pixelCount)) black,
        calc(-2px * var(--pixelCount)) calc(2px * var(--pixelCount)) black,
        calc(2px * var(--pixelCount)) calc(1px * var(--pixelCount)) black,
        calc(2px * var(--pixelCount)) calc(-1px * var(--pixelCount)) black,
        calc(1px * var(--pixelCount)) calc(2px * var(--pixelCount)) black,
        calc(-1px * var(--pixelCount)) calc(2px * var(--pixelCount)) black,
        calc(-2px * var(--pixelCount)) calc(1px * var(--pixelCount)) black,
        calc(-2px * var(--pixelCount)) calc(-1px * var(--pixelCount)) black,
        calc(1px * var(--pixelCount)) calc(-2px * var(--pixelCount)) black,
        calc(-1px * var(--pixelCount)) calc(-2px * var(--pixelCount)) black;
}

#cColorButRegion {
    display: flex;
    justify-content: space-around;
    margin-top: calc(4px * var(--pixelCount));
}
.cColorBut {
    border-image: url('/Resources/Buttons/CCode\ But.png') 6 6 6 6 fill
        / calc(6px * var(--pixelCount)) calc(6px * var(--pixelCount)) calc(6px * var(--pixelCount)) calc(6px * var(--pixelCount));
    padding: calc(4px * var(--pixelCount)) calc(10px * var(--pixelCount));
    width: calc(68px * var(--pixelCount));
    font-size: calc(12px * var(--pixelCount));
}
.cColorBut:hover, .cColorBut:focus-visible {
    filter: brightness(1.5);
}
.cColorBut:active {
    filter: brightness(0.5);
}
.cColorBut:disabled {
    filter: brightness(0.5);
    pointer-events: none;
}
#cColorButBack {
    color: #fe555d;
}
#cColorButApply {
    color: #55fe71;
}

#copiedText {
    position: absolute;
    color: #FCE800;
    text-align: center;
    display: none;
    animation: copiedAnim 1s ease 1 both;
    transform: translateY(calc(24px * var(--pixelCount)));
}

@keyframes copiedAnim {
    0%   {transform: translateY(calc(4px * var(--pixelCount))); opacity: 0;}
    10%  {transform: translateY(calc(24px * var(--pixelCount))); opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}


@keyframes fadeSlideDown {
    0%   {transform: translateY(calc(80px * var(--pixelCount)));}
    100% {transform: translateY(0px);}
}

@keyframes genericButFade {
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}


@keyframes forwardBut {
    from {transform: translateX(calc(10px * var(--pixelCount)));}
    to {transform: translateX(0);}
}
@keyframes backBut {
    from {transform: translateX(calc(-10px * var(--pixelCount)));}
    to {transform: translateX(0);}
}

@keyframes backChar {
    0% {
        transform: translateX(calc(40px * var(--pixelCount)));
        opacity: 0;
        filter: brightness(2);
    }
    25% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        filter: brightness(1);
    }
}
@keyframes forwardChar {
    0% {
        transform: translateX(calc(-40px * var(--pixelCount)));
        opacity: 0;
        filter: brightness(2);
    }
    25% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        filter: brightness(1);
    }
}

@keyframes colPart {
    from {
        transform: translateX(calc(300px * var(--pixelCount)));
    }
    to {
        transform: translateX(0);
    }
}

@keyframes charName {
    from {opacity: 0;}
    to {opacity: 1;}
}


@media (max-width: 1500px) {
    
    :root {
        --pixelCount: 1.5;
    }

}

@media (max-width: 1130px) {
    
    :root {
        --pixelCount: 1;
    }

}

@media (max-width: 750px) {

    #midRegion {
        flex-direction: column;
    }

    #midLeft {
        width: 100%;
        justify-content: center;
    }
    #charBackground {
        width: 100%;
        border-image: url('/Resources/CharBar.png') 2 66 10 2 fill
            / calc(2px * var(--pixelCount)) 0 calc(10px * var(--pixelCount)) 0;
    }

    #midRight {
        width: 100%;
        align-items: center;
        padding: 0px 10px;
    }
    #charNameDiv {
        min-width: inherit;
        max-width: 425px;
        transform: none;
    }
    #partList {
        padding: 14px 10px;
        max-width: 370px;
        min-width: 335px;
        width: 100%;
    }

    #botRegion {
        width: 100%;
        border-image: url('/Resources/BotBar\ BG.png') 4 2 2 50 fill
            / calc(4px * var(--pixelCount)) 0 0 0;
        padding: 10px 10px 6px 10px;
    }
    #sliderRegion {
        padding-left: 0;
    }
    #cmSwitcher {
        padding-right: 10px;
    }
}

@media (max-width: 700px) {

    .topBut {
        width: calc(34px * var(--pixelCount));
        margin-left: calc(12px * var(--pixelCount));
    }
    .topButText {
        display: none;
    }
    .topButIcon {
        display: inherit;
    }
    #downloadBut {
        margin-left: 17px;
    }

}

@media (max-width: 450px) {

    #spriteDiv {
        display: none;
    }

    #charName {
        font-size: 28px;
    }
}
